Data sourced from Kaggle competition [Natural Language Processing with Disaster Tweets](https://www.kaggle.com/c/nlp-getting-started/overview)

In [1]:
# import core libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
import joblib

In [96]:
# pre-processing

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

import nltk
from textblob import TextBlob
from langdetect import detect

import contractions

In [3]:
# modelling

from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV

In [4]:
# metrics/evaluation

import scikitplot as skplt
from matplotlib.colors import ListedColormap
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [5]:
# instantiating the train and test sets

train = pd.read_csv('data/train.csv')
test =  pd.read_csv('data/test.csv')

In [6]:
#Â combining the train and test sets for the purpose of EDA and Data Cleaning/Feature Engineering

df = pd.concat([train, test], ignore_index=True)

In [7]:
print("Training Dataframe Shape: {}".format(str(train.shape)))
print("Test Dataframe Shape: {}".format(str(test.shape)))
print("Combined Dataframe Shape: {}".format(str(df.shape)))

Training Dataframe Shape: (7613, 5)
Test Dataframe Shape: (3263, 4)
Combined Dataframe Shape: (10876, 5)

In [8]:
# example of tweets

df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1.0
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1.0
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1.0
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1.0
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10876 entries, 0 to 10875
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10876 non-null  int64
 1   keyword   10789 non-null  object
 2   location  7238 non-null   object
 3   text      10876 non-null  object
 4   target    7613 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 425.0+ KB

### Dealing with null values

In [10]:
# null values in the training set

df.isnull().sum()

id             0
keyword       87
location    3638
text           0
target      3263
dtype: int64

### Keyword

In [11]:
df.keyword.unique()

array([nan, 'ablaze', 'accident', 'aftershock', 'airplane%20accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew%20up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown%20up', 'body%20bag', 'body%20bagging',
       'body%20bags', 'bomb', 'bombed', 'bombing', 'bridge%20collapse',
       'buildings%20burning', 'buildings%20on%20fire', 'burned',
       'burning', 'burning%20buildings', 'bush%20fires', 'casualties',
       'casualty', 'catastrophe', 'catastrophic', 'chemical%20emergency',
       'cliff%20fall', 'collapse', 'collapsed', 'collide', 'collided',
       'collision', 'crash', 'crashed', 'crush', 'crushed', 'curfew',
       'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths', 'debris',
       'deluge', 'deluged', 'demolish', 'demolished', 'demolition',
       'derail', 'derailed', 'derailment', 'desolate', 'desolation',
       'destroy', 'destroyed', 'destruction', 'detonate', 'detonation',
       'devastated', 'devastation', 'disaster', 'displaced', 'drought',
       'drown', 'drowned', 'drowning', 'dust%20storm', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'emergency%20plan',
       'emergency%20services', 'engulfed', 'epicentre', 'evacuate',
       'evacuated', 'evacuation', 'explode', 'exploded', 'explosion',
       'eyewitness', 'famine', 'fatal', 'fatalities', 'fatality', 'fear',
       'fire', 'fire%20truck', 'first%20responders', 'flames',
       'flattened', 'flood', 'flooding', 'floods', 'forest%20fire',
       'forest%20fires', 'hail', 'hailstorm', 'harm', 'hazard',
       'hazardous', 'heat%20wave', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'loud%20bang', 'mass%20murder',
       'mass%20murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural%20disaster', 'nuclear%20disaster',
       'nuclear%20reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil%20spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation%20emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural%20failure', 'suicide%20bomb', 'suicide%20bomber',
       'suicide%20bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent%20storm', 'volcano', 'war%20zone', 'weapon', 'weapons',
       'whirlwind', 'wild%20fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [12]:
# trying to understand whether the null values in keyword have any relevance - they don't

df[df.keyword.isnull()].target.value_counts()

1.0    42
0.0    19
Name: target, dtype: int64

In [13]:
# creating a new category for the null keyword and location values

df.fillna({'keyword': 'unknown', 'location': 'unknown'},inplace=True)

In [14]:
# cleaning the keyword column

df.replace({'keyword': '%20'}, {'keyword': '_'}, inplace=True, regex=True)

### Location

In [15]:
# given how messy and the location column is, it's unlikely that we'll be able to clean it for modelling purposes

df.location.value_counts().head(20)

unknown            3638
USA                 141
New York            109
United States        65
London               58
Canada               42
Nigeria              40
Worldwide            35
India                35
Los Angeles, CA      34
UK                   33
Kenya                32
Washington, DC       31
Mumbai               28
United Kingdom       26
Australia            25
California           25
Los Angeles          24
Chicago, IL          23
San Francisco        23
Name: location, dtype: int64

# Text

### Language

In [38]:
# checking that all tweets are in English

# lang_series = df.text.apply(lambda x: detect(x))

In [43]:
# saving lang_series as a joblib file

# joblib.dump(lang_series, 'jlib_files/lang_series.jlib')

['jlib_files/lang_series.jlib']

In [45]:
# loading lang_series jlib file

# lang_series = joblib.load('jlib_files/lang_series.jlib')

In [46]:
df['language'] = lang_series

In [54]:
df[df.language != 'en'].sample(20)

,id,keyword,location,text,target,language
991,1440,body_bagging,302???? 815,@Yankees body bagging mfs,1.0,id
8515,2977,dead,My World,Ross better not be dead! #Emmerdale,NaN,no
10713,10262,war_zone,baltimore maryland,@thelovatoagent omg i feel like i am in a war ...,NaN,nl
4494,6391,hurricane,"Haiku, Maui, Hawaii",HURRICANE GUILLERMO LIVE NOAA TRACKING / LOOPI...,1.0,vi
1627,2350,collapse,Behind The Obama Curtain,Greece's tax revenues collapse as debt crisis ...,1.0,fr
7854,772,avalanche,Score More Goals Buying @,2 TIX 10/3 Frozen Fury XVII: Los Angeles Kings...,NaN,de
4519,6421,hurricane,The Globe,HURRICANE GUILLERMO LIVE NOAA TRACKING / LOOPI...,1.0,vi
10260,8845,smoke,Franklinton - BR - Houston,Smoke sumn,NaN,hr
5143,7334,nuclear_reactor,"Washington, D.C.",Salem 2 nuclear reactor shut down over electri...,1.0,ro
4450,6332,hostage,unknown,@gideonstrumpet Have you been held hostage?,0.0,nl
3904,5554,flattened,"Keighley, England",Imagine getting flattened by Kurt Zouma,0.0,no
1020,1482,body_bags,CA,HOBO Hobo Vintage Shira Convertible BÂÃ_ $238....,0.0,no
6392,9135,suicide_bomb,Nigeria,#Bestnaijamade: 16yr old PKK suicide bomber wh...,1.0,sl
2046,2936,danger,Atlanta Georgia,@nuggets #FETTILOOTCH IS #SLANGLUCCI OPPRESSIO...,0.0,de
9378,5969,hazard,Honduras,Con el Crack de Hazzel Hazard?????? @ Saint Jo...,NaN,nl
6350,9080,structural_failure,Warm Heart Of Africa,@sabcnewsroom sabotage!I rule out structural f...,0.0,ro
5978,8538,screaming,9/1/13,SCREAMING IN 22 DIFFERENT LANGUAGES http://t.c...,0.0,de
1973,2839,cyclone,unknown,HIS MAJESTY EMPEROR SALMAN KHAN'S UNSTOPPABLE ...,0.0,de
9164,5215,fatality,"Sericita, Minas Gerais",@martinsymiguel @FilipeCoelho92 FATALITY,NaN,pt
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1.0,no

It seems that the language detector function isn't doing a very good job of picking up some of the tweets' language. Regardless, it seems that all of the tweets are in English so we don't have to worry about dealing with other languages.

In [95]:
# dropping language column from dataset

df.drop('language', 1, inplace=True)

### Hash-tag extraction

In [56]:
df.text[0].split()

['Our',
 'Deeds',
 'are',
 'the',
 'Reason',
 'of',
 'this',
 '#earthquake',
 'May',
 'ALLAH',
 'Forgive',
 'us',
 'all']

In [61]:
def hash_tags(x):
    ht_list = []
    for word in x.split():
        if word[0] == '#':
            ht_list.append(word.lower().replace('#',''))
    return ht_list

In [69]:
hash_tags = df.text.apply(hash_tags)

In [71]:
num_hash_tags = hash_tags.apply(lambda x: len(x))

In [75]:
ht_dict = {}

for lst in hash_tags:
    if len(lst) != 0:
        for ht in lst:
            if ht in ht_dict.keys():
                ht_dict[ht] += 1
            else:
                ht_dict[ht] = 1

In [85]:
ht_df = pd.DataFrame.from_dict(ht_dict, orient = 'index', columns=["appearances"])

In [91]:
ht_df.shape

(2700, 1)

In [90]:
ht_df.sort_values('appearances',ascending=False).head(20)

            appearances
news                 92
hot                  42
best                 41
prebreak             41
hiroshima            33
???                  31
??                   28
nowplaying           25
earthquake           24
islam                22
gbbo                 20
world                20
emmerdale            18
jobs                 17
isis                 17
terrorism            16
nuclear              15
yyc                  15
japan                14
bbc                  14

It seems as though it's not much use trying to categorise the hash-tags. There are 2700 different hash-tags in the dataset, which is too broad a range. When we look at the hash-tags that appear the most, they still have a very small number of apparances, which wouldn't be of much to use if we were to use it as a predictor variable. 

For now, I'm just going to use the meta-data of how many hash-tags appear in each tweet. I don't expect this to be a super-useful predictor, but I'm optimistic that it might add some value.

In [92]:
df['hashtags'] = num_hash_tags

In [93]:
df.head()

,id,keyword,location,text,target,language,hashtags
0,1,unknown,unknown,Our Deeds are the Reason of this #earthquake M...,1.0,en,1
1,4,unknown,unknown,Forest fire near La Ronge Sask. Canada,1.0,en,0
2,5,unknown,unknown,All residents asked to 'shelter in place' are ...,1.0,en,0
3,6,unknown,unknown,"13,000 people receive #wildfires evacuation or...",1.0,en,1
4,7,unknown,unknown,Just got sent this photo from Ruby #Alaska as ...,1.0,en,2

### Creating new features: length of tweet and number of words

In [98]:
import string

In [103]:
df['tweet_characters'] = df.text.apply(lambda x: len(x))

In [117]:
s = ''

for x in '13,000 people receive #wildfires evacuation !!!':
    if x not in string.punctuation:
        s+= x

In [119]:
''.join([x for x in '13,000 people receive #wildfires evacuation !!!' if x not in string.punctuation])

'13000 people receive wildfires evacuation '

In [122]:
def word_counter(tweet):   
    no_punct = ''.join([x for x in tweet if x not in string.punctuation])
    word_lst = no_punct.split()      
    return len(word_lst)

In [125]:
df['tweet_words'] = df.text.apply(word_counter)

### Expanding contractions

In [139]:
df['text_no_contr'] = df.text.apply(lambda x: ' '.join([contractions.fix(word) for word in x.split()]))

### Tokenizing Tweets

In [145]:
df['tokenized'] = df.text_no_contr.apply(nltk.word_tokenize)

In [146]:
df.head()

,id,keyword,location,text,target,hashtags,tweet_characters,tweet_words,text_no_contr,tokenized
0,1,unknown,unknown,Our Deeds are the Reason of this #earthquake M...,1.0,1,69,13,Our Deeds are the Reason of this #earthquake M...,"[Our, Deeds, are, the, Reason, of, this, #, ea..."
1,4,unknown,unknown,Forest fire near La Ronge Sask. Canada,1.0,0,38,7,Forest fire near La Ronge Sask. Canada,"[Forest, fire, near, La, Ronge, Sask, ., Canada]"
2,5,unknown,unknown,All residents asked to 'shelter in place' are ...,1.0,0,133,22,All residents asked to 'shelter in place' are ...,"[All, residents, asked, to, 'shelter, in, plac..."
3,6,unknown,unknown,"13,000 people receive #wildfires evacuation or...",1.0,1,65,8,"13,000 people receive #wildfires evacuation or...","[13,000, people, receive, #, wildfires, evacua..."
4,7,unknown,unknown,Just got sent this photo from Ruby #Alaska as ...,1.0,2,88,16,Just got sent this photo from Ruby #Alaska as ...,"[Just, got, sent, this, photo, from, Ruby, #, ..."

### Removing Punctuation

In [100]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

### Experimenting with tweet-preprocessor package

In [147]:
import preprocessor as p

In [173]:
df['tweet_tokenized'] = df.text.apply(lambda x:p.tokenize(x))

In [171]:
def special_counter(x):
    counter = 0
    if '$URL$' in x:
        counter += 1
    return counter

In [172]:
sum(tweet_tokenized.apply(special_counter))

5702

In [183]:
df.head(50)

,id,keyword,location,text,target,hashtags,tweet_characters,tweet_words,text_no_contr,tokenized,tweet_tokenized
0,1,unknown,unknown,Our Deeds are the Reason of this #earthquake M...,1.0,1,69,13,Our Deeds are the Reason of this #earthquake M...,"[Our, Deeds, are, the, Reason, of, this, #, ea...",Our Deeds are the Reason of this $HASHTAG$ May...
1,4,unknown,unknown,Forest fire near La Ronge Sask. Canada,1.0,0,38,7,Forest fire near La Ronge Sask. Canada,"[Forest, fire, near, La, Ronge, Sask, ., Canada]",Forest fire near La Ronge Sask. Canada
2,5,unknown,unknown,All residents asked to 'shelter in place' are ...,1.0,0,133,22,All residents asked to 'shelter in place' are ...,"[All, residents, asked, to, 'shelter, in, plac...",All residents asked to 'shelter in place' are ...
3,6,unknown,unknown,"13,000 people receive #wildfires evacuation or...",1.0,1,65,8,"13,000 people receive #wildfires evacuation or...","[13,000, people, receive, #, wildfires, evacua...",$NUMBER$ people receive $HASHTAG$ evacuation o...
4,7,unknown,unknown,Just got sent this photo from Ruby #Alaska as ...,1.0,2,88,16,Just got sent this photo from Ruby #Alaska as ...,"[Just, got, sent, this, photo, from, Ruby, #, ...",Just got sent this photo from Ruby $HASHTAG$ a...
5,8,unknown,unknown,#RockyFire Update => California Hwy. 20 closed...,1.0,3,110,16,#RockyFire Update => California Hwy. 20 closed...,"[#, RockyFire, Update, =, >, California, Hwy, ...",$HASHTAG$ Update => California Hwy. $NUMBER$ c...
6,10,unknown,unknown,#flood #disaster Heavy rain causes flash flood...,1.0,2,95,14,#flood #disaster Heavy rain causes flash flood...,"[#, flood, #, disaster, Heavy, rain, causes, f...",$HASHTAG$ $HASHTAG$ Heavy rain causes flash fl...
7,13,unknown,unknown,I'm on top of the hill and I can see a fire in...,1.0,0,59,15,I am on top of the hill and I can see a fire i...,"[I, am, on, top, of, the, hill, and, I, can, s...",I'm on top of the hill and I can see a fire in...
8,14,unknown,unknown,There's an emergency evacuation happening now ...,1.0,0,79,12,there is an emergency evacuation happening now...,"[there, is, an, emergency, evacuation, happeni...",There's an emergency evacuation happening now ...
9,15,unknown,unknown,I'm afraid that the tornado is coming to our a...,1.0,0,52,10,I am afraid that the tornado is coming to our ...,"[I, am, afraid, that, the, tornado, is, coming...",I'm afraid that the tornado is coming to our a...
10,16,unknown,unknown,Three people died from the heat wave so far,1.0,0,43,9,Three people died from the heat wave so far,"[Three, people, died, from, the, heat, wave, s...",Three people died from the heat wave so far
11,17,unknown,unknown,Haha South Tampa is getting flooded hah- WAIT ...,1.0,1,129,27,Haha South Tampa is getting flooded hah- WAIT ...,"[Haha, South, Tampa, is, getting, flooded, hah...",Haha South Tampa is getting flooded hah- WAIT ...
12,18,unknown,unknown,#raining #flooding #Florida #TampaBay #Tampa 1...,1.0,5,76,12,#raining #flooding #Florida #TampaBay #Tampa 1...,"[#, raining, #, flooding, #, Florida, #, Tampa...",$HASHTAG$ $HASHTAG$ $HASHTAG$ $HASHTAG$ $HASHT...
13,19,unknown,unknown,#Flood in Bago Myanmar #We arrived Bago,1.0,2,39,7,#Flood in Bago Myanmar #We arrived Bago,"[#, Flood, in, Bago, Myanmar, #, We, arrived, ...",$HASHTAG$ in Bago Myanmar $HASHTAG$ arrived Bago
14,20,unknown,unknown,Damage to school bus on 80 in multi car crash ...,1.0,1,56,11,Damage to school bus on 80 in multi car crash ...,"[Damage, to, school, bus, on, 80, in, multi, c...",Damage to school bus on $NUMBER$ in multi car ...
15,23,unknown,unknown,What's up man?,0.0,0,14,3,what is up man?,"[what, is, up, man, ?]",What's up man?
16,24,unknown,unknown,I love fruits,0.0,0,13,3,I love fruits,"[I, love, fruits]",I love fruits
17,25,unknown,unknown,Summer is lovely,0.0,0,16,3,Summer is lovely,"[Summer, is, lovely]",Summer is lovely
18,26,unknown,unknown,My car is so fast,0.0,0,17,5,My car is so fast,"[My, car, is, so, fast]",My car is so fast
19,28,unknown,unknown,What a goooooooaaaaaal!!!!!!,0.0,0,28,3,What a goooooooaaaaaal!!!!!!,"[What, a, goooooooaaaaaal, !, !, !, !, !, !]",What a goooooooaaaaaal!!!!!!
20,31,unknown,unknown,this is ridiculous....,0.0,0,22,3,this is ridiculous....,"[this, is, ridiculous, ....]",this is ridiculous....
21,32,unknown,unknown,London is cool ;),0.0,0,17,3,London is cool ;),"[London, is, cool, ;, )]",London is cool $SMILEY$
22,33,unknown,unknown,Love skiing,0.0,0,11,2,Love skiing,"[Love, skiing]",Love skiing
23,34,unknown,unknown,What a wonderful day!,0.0,0,21,4,What a wonderful day!,"[What, a, wonderful, day, !]",What a wonderful day!
24,36,unknown,unknown,LOOOOOOL,0.0,0,8,1,LOOOOOOL,[LOOOOOOL],LOOOOOOL
25,37,unknown,unknown,No way...I can't eat that shit,0.0,0,30,6,No way...I cannot eat that shit,"[No, way, ..., I, can, not, eat, that, shit]",No way...I can't eat that shit
26,38,unknown,unknown,Was in NYC last week!,0.0,0,21,5,Was in NYC last week!,"[Was, in, NYC, last, week, !]",Was in NYC last week!
27,39,unknown,unknown,Love my girlfriend,0.0,0,18,3,Love my girlfriend,"[Love, my, girlfriend]",Love my girlfriend
28,40,unknown,unknown,Cooool :),0.0,0,9,1,Cooool :),"[Cooool, :, )]",Cooool $SMILEY$
29,41,unknown,unknown,Do you like pasta?,0.0,0,18,4,Do you like pasta?,"[Do, you, like, pasta, ?]",Do you like pasta?
30,44,unknown,unknown,The end!,0.0,0,8,2,The end!,"[The, end, !]",The end!
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1.0,0,55,5,@bbcmtd Wholesale Markets ablaze http://t.co/l...,"[@, bbcmtd, Wholesale, Markets, ablaze, http, ...",$MENTION$ Wholesale Markets ablaze $URL$
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0.0,2,67,10,We always try to bring the heavy. #metal #RT h...,"[We, always, try, to, bring, the, heavy, ., #,...",We always try to bring the heavy. $HASHTAG$ $H...
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1.0,1,82,9,#AFRICANBAZE: Breaking news:Nigeria flag set a...,"[#, AFRICANBAZE, :, Breaking, news, :, Nigeria...",$HASHTAG$: Breaking news:Nigeria flag set abla...
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0.0,0,34,7,Crying out for more! Set me ablaze,"[Crying, out, for, more, !, Set, me, ablaze]",Crying out for more! Set me ablaze
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0.0,0,76,13,On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,"[On, plus, side, LOOK, AT, THE, SKY, LAST, NIG...",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...
36,54,ablaze,Pretoria,@PhDSquares #mufc they've built so much hype a...,0.0,1,122,21,@PhDSquares #mufc they have built so much hype...,"[@, PhDSquares, #, mufc, they, have, built, so...",$MENTION$ $HASHTAG$ they've built so much hype...
37,55,ablaze,World Wide!!,INEC Office in Abia Set Ablaze - http://t.co/3...,1.0,0,55,7,INEC Office in Abia Set Ablaze - http://t.co/3...,"[INEC, Office, in, Abia, Set, Ablaze, -, http,...",INEC Office in Abia Set Ablaze - $URL$
38,56,ablaze,unknown,Barbados #Bridgetown JAMAICA ÂÃÃ Two cars set ...,1.0,1,140,19,Barbados #Bridgetown JAMAICA ÂÃÃ Two cars set ...,"[Barbados, #, Bridgetown, JAMAICA, ÂÃÃ, Two, c...",Barbados $HASHTAG$ JAMAICA Two cars set ablaze...
39,57,ablaze,Paranaque City,Ablaze for you Lord :D,0.0,0,22,5,Ablaze for you Lord :D,"[Ablaze, for, you, Lord, :, D]",Ablaze for you Lord $SMILEY$
40,59,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0.0,1,114,8,Check these out: http://t.co/rOI2NSmEJJ http:/...,"[Check, these, out, :, http, :, //t.co/rOI2NSm...",Check these out: $URL$ $URL$ $URL$ $URL$ $HASH...
41,61,ablaze,unknown,on the outside you're ablaze and alive\nbut yo...,0.0,0,61,11,on the outside you are ablaze and alive but yo...,"[on, the, outside, you, are, ablaze, and, aliv...",on the outside you're ablaze and alivebut you'...
42,62,ablaze,milky way,Had an awesome time visiting the CFC head offi...,0.0,0,120,23,Had an awesome time visiting the CFC head offi...,"[Had, an, awesome, time, visiting, the, CFC, h...",Had an awesome time visiting the CFC head offi...
43,63,ablaze,unknown,SOOOO PUMPED FOR ABLAZE ???? @southridgelife,0.0,0,44,5,SOOOO PUMPED FOR ABLAZE ???? @southridgelife,"[SOOOO, PUMPED, FOR, ABLAZE, ?, ?, ?, ?, @, so...",SOOOO PUMPED FOR ABLAZE ???? $MENTION$
44,64,ablaze,unknown,I wanted to set Chicago ablaze with my preachi...,0.0,0,92,14,I wanted to set Chicago ablaze with my preachi...,"[I, wanted, to, set, Chicago, ablaze, with, my...",I wanted to set Chicago ablaze with my preachi...
45,65,ablaze,unknown,I gained 3 followers in the last week. You? Kn...,0.0,0,96,16,I gained 3 followers in the last week. You? Kn...,"[I, gained, 3, followers, in, the, last, week,...",I gained $NUMBER$ followers in the last week. ...
46,66,ablaze,"GREENSBORO,NORTH CAROLINA",How the West was burned: Thousands of wildfire...,1.0,0,97,13,How the West was burned: Thousands of wildfire...,"[How, the, West, was, burned, :, Thousands, of...",How the West was burned: Thousands of wildfire...
47,67,ablaze,unknown,Building the perfect tracklist to life leave t...,0.0,0,63,10,Building the perfect tracklist to life leave t...,"[Building, the, perfect, tracklist, to, life, ...",Building the perfect tracklist to life leave t...
48,68,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0.0,1,114,8,Check these out: http://t.co/rOI2NSmEJJ http:/...,"[Check, these, out, :, http, :, //t.co/rOI2NSm...",Check these out: $URL$ $URL$ $URL$ $URL$ $HASH...
49,71,ablaze,England.,First night with retainers in. It's quite weir...,0.0,0,138,27,First night with retainers in. it is quite wei...,"[First, night, with, retainers, in, ., it, is,...",First night with retainers in. It's quite weir...

In the process of doing: get metadata for amount of times special tweet elements (e.g. url, hashtag, smiley, emoji) appear in tweets. 

Use tweet-tokenizer to remove special tweet elements that aren't useful (i.e. URL, mention)

### To-do list:

- create broader categories for the keyword and, potentially, location columns
- use spacy to extract location from location variable

#### Text Pre-processing

- ~~check the language that the tweet is written in~~
- remove digits and lower the text
- expand contractions
- convert to lowercase
- remove punctuation (maybe include meta-data for punctuation instead?)
- tokenize + lemmatize words
- remove stop-words
- ~~hashtag extraction~~

- does the text contain emojis?

#### Feature Engineering

- meta-data
    - - ~~how many hash-tags each tweet contains~~
    - no. of emojis
    - number of words
    - number of characters
- sentiment analysis (textblob)
- average word length

#### EDA

- word clouds for each target variable
- seperate the below by each target variable
    - number of characters in each tweet
    - average word length in each sentence
    - most commonly appearing ngrams of various lenghts
    - textblob for sentiment analysis
    - use speech tagging
    - frequency of most common words
    - number of words with a given number of appearances
    
#### Other

- Research the use of LDA and NMF
    
    
Useful articles: 

https://towardsdatascience.com/preprocessing-text-data-using-python-576206753c28

https://towardsdatascience.com/basic-tweet-preprocessing-in-python-efd8360d529e

https://medium.com/spatial-data-science/how-to-extract-locations-from-text-with-natural-language-processing-9b77035b3ea4